{% extends 'base.html' %} 

{% block header %} 
    <h1>{% block title %}Tasks{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('tasklist.create') }}">New</a>
    {% endif %}
{% endblock %} 

{% block content %} 
    <table class="tasklist">
        <tr>
            <th>Task</th>
            <th>Created by</th>
            <th>Created on</th>
            <th><p style="font-size:20px">&#9989</p></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><a href="{{ url_for('tasklist.update', id=task['id']) }}">{{ task['title'] }}</a> </td>
            <td>{{ task['username'] }}</td>
            <td>{{ task['created'].strftime("%Y-%m-%d") }}</td>
            {% if task['completed'] == 1 %}
                <td><p style="font-size:20px">&#9989</p></td>
            {% else %}
                <td><input type="checkbox" class="task-check" id="{{'check-{0}'.format(task['id'])}}" name="{{'check-{0}'.format(task['id'])}}" value=""></td>
            {% endif %}
        </tr>
        {% endfor %} 
    </table> 
{% endblock %} 

<!-- 9989 = check mark or 2705 -->
<!-- 11036 = empty square or 2B1C -->
<!-- 128306 = another square or 1F532 -->